


.grid-container {
  display: grid;
  grid-template-areas:
  'tit tit tit tit tit'
  'alg alg con usr usr';
  
  background-color: #eaeceb;
  width:90%;
  margin:0% 10%;

}

  h2 {
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
    font-size: 2ch;
  }

  .grid-container div {

    text-align: center;
    padding: 5px 0;
    border-radius:10px;
    font-size:2ch;
  }



#algo-section {
  border:4px rgb(0, 0, 0) solid;
  color:#eaeceb;
  grid-area: alg;
  height:100%;
  margin-right:2%;
  gap: 5px;
  background-color: rgb(68,114,196);
}



#user-section {
  border:4px rgb(0, 0, 0) solid;
  color:#eaeceb;
  grid-area: usr;
  height:100%;
  margin-left: 10%;
  gap: 5px;
  background-color: rgb(68,114,196);
}


.game-space {
  background-color: white;
  cursor: pointer;
  width: 100%;
  height: 450px;
  border: 2px dashed #330aea;
  position: relative;
  display: grid;
  grid-template-areas: 
  'items'
  'zaino';
}

  .itemContainer {
    width: 100%;
    height: 95%;
    grid-area: items;
    display: flex;
    justify-content: center;
    align-items:center;
    border: black;
  }

  .item {
    cursor: grab;
    width: 40px;
    height: 40px;
    background-color: rgb(144, 216, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
  }

  .backpack {
    border-color: black;
    height: 95%;
    margin: 5px;
    grid-area: zaino;
    background-color: rgb(244, 201, 144);
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }



.controls {
  grid-area: con;
  display: flex;
  flex-direction:column;
  text-align: center;
  padding: 15%;
  gap: 10px;

  }

  button {
    cursor: pointer;
    background-color: rgb(109,176,63);
    padding:5%;
    border-radius: 10px;
  
  }

  button:hover {
    background: #218838;
  }








